



						<meta charset="utf-8" />
						<meta name="viewport" content="width=device-width, initial-scale=1.0">
						<meta http-equiv="X-UA-Compatible" content="IE=edge">
						

        <!-- widget grid -->
        <section id="widget-grid" class="">
        <div class="my-content">	
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <!-- new widget -->
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="true" data-widget-deletebutton="false" data-widget-editbutton="false">
                        <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                            
                            data-widget-colorbutton="false"	
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true" 
                            data-widget-sortable="false"
                            
                        -->
                        <header>
								<span class="widget-icon"> <i class="fa fa-check"></i> </span>
								<div style="height: 100%; width: auto; display: inline-block; font-size: 14px; position: relative; margin: 0; line-height: 34px; font-weight: 400; letter-spacing: 0; margin-left: 10px; float: left;">Cadastrar apontadores personalizados para cada processo</div>
                            <!--<div class="widget-toolbar hidden-mobile">
        
                            </div>-->
                        </header>
        
                        <!-- widget div-->
                        <div>
                            
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                                
                            </div>
                            <!-- end widget edit box -->
                            
                            <!-- widget content -->
                            <div class="widget-body">
								<form class="smart-form" name="vm.frmEntradaDocumento">
							
							<!-- DIV FORMULARIO -->
							<div>
								<fieldset>
																	
									<section>
										<label class="label">Descrição</label>
										<label class="input">
											<input type="text" class="input-sm" data-ng-model="vm.cad.descricao" >
										</label>
									</section>

									<section>
										<label class="label">Tipo</label>
										<label class="select">
											<select class="input-sm" data-ng-model="vm.cad.tipo" data-ng-options="ax.id as ax.label for ax in vm.TIPOS"><option></option></select> <i></i>
										</label>
									</section>

									<section data-ng-if="vm.cad.tipo == 'GRAFICO'">
										<label class="label">Modelo Gráfico</label>
										<label class="select">
											<select class="input-sm" data-ng-model="vm.cad.modeloGrafico" data-ng-options="ax.id as ax.label for ax in vm.MODELOSGRAFICO"><option></option></select> <i></i>
										</label>
									</section>

									<section>
										<label class="label">Processos</label>
										<label class="select">
											<select class="input-sm" data-ng-model="vm.cad.processo" data-ng-options="ax.id as ax.label for ax in vm.PROCESSOS" data-ng-change="vm.getFields()"></select> <i></i>
										</label>
									</section>


									<div class="row" data-ng-if="vm.cad.tipo == 'GRAFICO'">
										<section class="col col-4">
											<label class="label">Campo Descritivo</label>
											<label class="select">
												<select class="input-sm" data-ng-model="vm.cad.campoDescritivo" data-ng-options="ax as ax for ax in vm.CAMPOSFORMULARIO"><option></option></select> <i></i>
											</label>
										</section>
										<section class="col col-4">
											<label class="label">Campo de Valor</label>
											<label class="select">
												<select class="input-sm" data-ng-model="vm.cad.campoValor" data-ng-options="ax as ax for ax in vm.CAMPOSFORMULARIO"><option></option></select> <i></i>
											</label>
										</section>
										<section class="col col-4">
											<label class="label">Operação</label>
											<label class="select">
												<select class="input-sm" data-ng-model="vm.cad.operacao" data-ng-options="ax.id as ax.label for ax in vm.OPERACOES"><option></option></select> <i></i>
											</label>
										</section>
									</div>
								
								</fieldset>

								<fieldset>
									<section>
										<a data-ng-click="vm.adicionarRegra()" href="javascript:void(0)"><i class="fa fa-plus"></i> Adicionar Regra</a>
									</section>
								</fieldset>


								<div data-ng-repeat="ax in vm.cad.REGRAS">
									<fieldset>
										<h3>Regra {{ax.id}}</h3>
										<a data-ng-click="vm.removerRegra(ax.id)" href="javascript:void(0)">Remover Regra</a>
										<div class="row">
											<section class="col col-4">
												<label class="label">Campo do Formulario</label>
												<label class="select">
													<select class="input-sm" data-ng-model="ax.campoFormulario" data-ng-options="ax as ax for ax in vm.CAMPOSFORMULARIO"></select> <i></i>
												</label>
											</section>
											<section class="col col-4">
												<label class="label">Lógica de Aprovação</label>
												<label class="select">
													<select class="input-sm" data-ng-model="ax.logicaAprovacao" data-ng-options="ax.id as ax.label for ax in vm.LOGICAAPROVACAO"></select> <i></i>
												</label>
											</section>
											<section class="col col-4">
												<label class="label">Parâmetro</label>
												<label class="input">
													<input type="text" class="input-sm" data-ng-model="ax.parametro">
												</label>
											</section>
										</div>
									</fieldset>
								</div>

							</div>
							<!-- fim div formulario -->						

							<fieldset data-ng-show="true">
								<canvas id="pieChart" height="100"></canvas>
							</fieldset>


							<footer>
								<button type="button" data-ng-click="vm.gravarIndicador()" class="btn btn-primary">Gravar</button>
								<button type="button" data-ui-sref="indicadores" class="btn btn-default">Voltar</button>
							</footer>
							
						</form>
                            </div>
                            <!-- end widget content -->
                            
                        </div>
                        <!-- end widget div -->
                        
                    </div>
                
                </article>
            </div>
            <!-- end row -->
</div>
        </section>